.hero-section {
    background-color: #f0f0f0;
    padding: 100px 0;
    text-align: center;
}
.hero-image {
    width: 300px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}
.hero-title {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
.text-section {
    padding: 50px 0;
    text-align: center;
}

.backgroundimgherosection {
    position: relative;
    width: 100%;
    text-align: center;
}


.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 0.5rem;
    text-align: center;
    font-size: 16px;
}
  




