/*--------------------------------------------------------------
Hero Section
--------------------------------------------------------------*/
.contact {
    background: url('images/homepage/contact-us-hero.png') no-repeat top center/cover;
    width: 100%;
    margin-bottom: 200px;
}

.contact input.form-control {
    padding: 1rem;
    border-radius: 2rem;
}

.detail p {
    color: var(--accent-color);
    /* Ensure you define this CSS variable in your styles */
}

.map-section {
    margin-top: -350px;
    border-radius: 4rem;
    /* Overlap the map with the contact section */
}