/*  General Styles
/*----------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  /* --heading-font: 'Roboto Condensed', sans-serif; */
  background-color: #FFFFFF;
  --heading-font: 'Poppins', sans-serif;
  --heading-font-weight: 700;
  --heading-color: #313131;
  --heading-line-height: 1.24;

  --accent-color: #F2622D;
  --linear-gradient: linear-gradient(90deg, #C62813 0%, #D06051 100%);

  /* bootstrap */
  /* --bs-body-font-family: 'Roboto', sans-serif; */
  --bs-body-font-family: 'Poppins', sans-serif;
  --bs-body-font-size: 18px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.6875rem;
  --bs-body-color: #777777;
  --bs-body-color-rgb: 143, 143, 143;

  --bs-primary: #F2622D;
  --bs-secondary: #0c0d0e;
  --bs-black: #313131;
  --bs-light: #FFFFFF;
  --bs-dark: #212529;
  --bs-gray: #D9D9D9;
  --bs-gray-dark: #51565b;

  --bs-primary-rgb: 140, 144, 126;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-black-rgb: 17, 17, 17;
  --bs-light-rgb: 241, 241, 240;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: #111;
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #111;
  --bs-link-hover-color-rgb: 17, 17, 17;

  --bs-custom-primary: #F2622D;
  --bs-custom-secondary: #1A1A1A;
  --bs-custom-success: #28a745;
  --bs-custom-info: #17a2b8;
  --bs-custom-warning: #ffc107;
  --bs-custom-danger: #dc3545;
  --bs-custom-light: #f8f9fa;
  --bs-custom-dark: #343a40;
  --bs-custom-white: #fff;
  --bs-custom-transparent: transparent;
  --bs-custom-body-bg: #fff;
  --bs-custom-body-color: #777;
  --bs-custom-body-bg-rgb: 255, 255, 255;
  --bs-custom-body-color-rgb: 119, 119, 119;
  --bs-custom-body-bg-rgb-a: 255, 255, 255, 0.5;
  --bs-custom-font-family: var(--bs-body-font-family);
  --bs-text-primary: #F2622D;

}

/*--------------------------------------------------------------
  Utilites
  --------------------------------------------------------------*/
.gap {
  padding: 50px 0px;
}

.modal-backdrop.show {
  z-index: 1050;
}

.modal {
  z-index: 1060;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: var(--accent-color) !important;
}

/*--------------------------------------------------------------
  Typography
  --------------------------------------------------------------*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  color: var(--bs-text-primary);
  line-height: var(--heading-line-height);
  letter-spacing: 0.065rem;
}

h6 {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.19rem;
}

.heading-color {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}


/* bootstrap button style  */
.btn {
  --bs-btn-padding-x: 1.88em;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-family: var(--heading-font);
  --bs-btn-font-size: 1.1875rem;
  --bs-btn-font-weight: 700;
  border-radius: 0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.btn-primary {
  background-color: var(--accent-color);
  background-size: 200% auto;
  border: none;
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
  border-radius: 25px;
}

.btn-secondary {
  background-color: var(--bs-custom-secondary);
  background-size: 200% auto;
  border: none;
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
  border-radius: 25px;
}

.btn-primary:hover {
  background-position: right center;
}


/*--------------------------------------------------------------
  navigation section style star
  --------------------------------------------------------------*/
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: var(--bs-black);
  --bs-navbar-hover-color: var(--accent-color);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: var(--accent-color);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);

}

.nav-link,
.navabr ul li a,
.navbar-nav ul li a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bs-custom-white);
}

nav.navbar,
.navbar-nav ul {
  font-family: var(--bs-custom-font-family);
  z-index: 999;
  background-color: var(--bs-custom-secondary);
}

.navbar-toggler {
  background-color: white;
}

/*--------------------------------------------------------------
  navigation section dropdown 
  --------------------------------------------------------------*/
.dropdown-menu {
  --bs-dropdown-border-radius: 15px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bs-custom-body-bg);
  color: var(--bs-custom-secondary);
}

.dropdown-menu {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  vertical-align: middle;
}

/*--------------------------------------------------------------
  hero section style start 
  --------------------------------------------------------------*/
form.hero-form {
  background: transparent;
}

.form-label {
  font-size: 0.875rem;
  color: var(--bs-black);
  text-transform: uppercase;
}

.form-control {
  border-radius: 0;
}


/*---- faq section style start ----*/
.accordion {
  --bs-accordion-border-color: var(--accent-color);
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-btn-icon: url('https://api.iconify.design/ion/caret-down.svg?color=%23d06051&width=30');
  --bs-accordion-btn-active-icon: url('https://api.iconify.design/ion/caret-down.svg?color=%23d06051&width=30');
  --bs-accordion-border-radius: 0px;
}

.accordion-header {
  margin-bottom: 0;
  border-top: 1px solid var(--accent-color);
}

.accordion-button {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color);
  line-height: var(--heading-line-height);
  letter-spacing: 0.065rem;
  text-transform: uppercase;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--heading-color);
  background-color: var(--bs-light);
  box-shadow: none;
}


/*--------------------------------------------------------------
  Blog page style
  --------------------------------------------------------------*/

.form-control:focus {
  border-color: var(--bs-black);
  box-shadow: none;
}

/*--------------------------------------------------------------
  Hero Section
  --------------------------------------------------------------*/
.hero {
  background: url('images/homepage/hero-section-1.png') no-repeat top center/cover;
  width: 100%;
  margin-bottom: 50px;
}

.hero .text-primary {
  color: var(--bs-text-primary);
}

/*--------------------------------------------------------------
  Services Section
  --------------------------------------------------------------*/

.border-div {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-div:hover {
  transform: scale(1.05);
}

.border-div img {
  width: 70%;
  height: auto;
  min-height: 150px;
  max-width: 250px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.border-div:hover img {
  opacity: 0.9;
}


/*--------------------------------------------------------------
  Tracking
  --------------------------------------------------------------*/
.tracking {
  background-image: url('images/homepage/tracking-background.png');
}

.tracking img {
  width: 100%;
}

.tracking input,
.modal-body form input[type="text"],
.modal-body form input[type="email"],
.modal-body form input[type="password"],
.modal-body form input[type="number"] {
  width: 100%;
  height: 55px;
  border: 1px solid var(--bs-custom-secondary);
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.tracking button:hover {
  background: var(--accent-color);
  color: var(--bs-light);
}


/*--------------------------------------------------------------
  Benefits
  --------------------------------------------------------------*/

.benefits {
  background-image: url('images/homepage/home-page-3-benefits.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits .benefit {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 12px 90px rgba(12, 12, 12, 0.06);
  border: 1px solid var(--bs-custom-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* Ensures all are the same height */
}

.benefits .icon img {
  width: 100%;
}

.benefits .icon {
  width: 80px;
  height: 80px;
}

/*--------------------------------------------------------------
  Login singup form
  --------------------------------------------------------------*/
.custom-border {
  border-radius: 20px;
  border: 1px solid #ccc;
}

.custom-accordion {
  border-radius: 15px;
  border: 1px solid var(--accent-color);
  overflow: hidden;
}

.custom-input {
  padding: 10px 12px;
  border-radius: 1.5rem;
  border: 1px solid #ccc;
  height: calc(1.5em + 1.2rem + 2px);
}

.custom-input {
  width: 100%;
  /* Ensures full width on small screens */
  padding: 0.375rem 0.75rem;
  /* Comfortable padding */
  border-radius: 0.25rem;
  /* Consistent border-radius */
}


/* .login-modal form,
.signup-modal form {
  text-align: left;
  padding: 10px 50px 10px 50px;
} */

/* .login-modal form,
.signup-modal form { */
/* text-align: left; */
/* padding: 10px 30px; */
/* Default padding for larger screens */
/* } */

.modal-content {
  border-radius: 1rem !important;
}


/*--------------------------------------------------------------
  footer section
  --------------------------------------------------------------*/
.footer {
  background-image: url('images/homepage/footer.png');
}

.security-check img {
  max-width: 100%;
  height: auto;
}

.security .icon {
  width: 80px;
  height: 80px;
}

.security .icon img {
  width: 100%;
}


/* Media queries for responsive adjustments */
@media (max-width: 992px) {
  .border-div img {
    min-height: 130px;
  }
}

@media (max-width: 576px) {
  .border-div img {
    min-height: 110px;
  }

  .tracking input,
  .modal-body form input[type="text"],
  .modal-body form input[type="email"],
  .modal-body form input[type="password"],
  .modal-body form input[type="number"] {
    height: 35px;
  }

  /* .login-modal form,
  .signup-modal form { */
  /* padding: 10px 10px; */
  /* Even more reduced side padding for small screens */
  /* } */
}

@media (max-width: 320px) {
  .border-div img {
    min-height: 100px;
  }
}

@media only screen and (max-width: 770px) {
  .nav-link {
    color: var(--bs-black);
  }

  .navbar .nav-item {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .border-div img {
    min-height: 120px;
  }

  .tracking {
    text-align: center;
  }

  .footer {
    color: var(--bs-custom-white);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {

  .tracking input,
  .modal-body form input[type="text"],
  .modal-body form input[type="email"],
  .modal-body form input[type="password"],
  .modal-body form input[type="number"] {
    height: 45px;
  }
}